<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- 确保所有目标使用相同的简化布局 -->
  <variable name="logLayout" value="${message} ${exception:format=tostring}"/>

  <targets>
    <!-- 内部目标 - 不直接使用 -->
    <target name="consoleInner" xsi:type="Console" layout="${logLayout}" />
    <!-- 暂时注释掉文件输出目标，需要时可以取消注释 -->
    <!-- <target name="fileInner" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${logLayout}" /> -->
    
    <!-- 异步包装目标 -->
    <target name="asyncConsole" xsi:type="AsyncWrapper"
            queueLimit="10000" overflowAction="Grow"
            timeToSleepBetweenBatches="100" batchSize="100" />
    <!-- 暂时注释掉文件异步包装目标，需要时可以取消注释 -->
    <!-- <target name="asyncFile" xsi:type="AsyncWrapper"
            queueLimit="10000" overflowAction="Grow"
            timeToSleepBetweenBatches="100" batchSize="100" /> -->
  </targets>

  <rules>
    <!-- 将内部目标附加到异步包装目标 -->
    <logger name="*" minlevel="Debug" writeTo="asyncConsole" final="true" />
    <logger name="*" minlevel="Debug" writeTo="consoleInner" appendTo="asyncConsole" />
    <!-- 暂时注释掉文件日志相关规则，需要时可以取消注释 -->
    <!-- <logger name="*" minlevel="Debug" writeTo="fileInner" appendTo="asyncFile" /> -->
  </rules>
</nlog>
